* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-color: hsl(263, 35%, 93%);
}

.section {
  padding: 1.5rem;
  max-width: 1200px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  color: rgb(82, 2, 136);
  border-radius: 15px;
}

.box {
  color: hsl(264, 82%, 80%);
  font-size: 0.875rem;
  font-weight: 700px;
  display: grid;
  border-radius: 5px;
  padding: 1rem;
}

.box:nth-child(1) {
  grid-column: span 2;
}

.box:nth-child(3) {
  grid-row: span 2;
}

.box:nth-child(5) {
  grid-column: span 2;
}

.box-intro {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

img {
  border-radius: 50%;
  margin-right: 0.75rem;
  width: 40px;
  height: 40px;
}

.description-data h2 {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.box-intro-one-description {
  width: 100%;
  padding: 0.5rem 0;
}

/* Color boxes */
.box1 {
  /* background-color: hsl(263, 55%, 52%); */
  background-color: purple;
}

.box1 h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.20rem;
  font-weight: 700;
}

.box2 {
  background-color: hsl(217, 19%, 35%);
}

.box2 h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.20rem;
  font-weight: 700;
}

.box2 p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}

.box3 {
  /* background-color: hsl(214, 17%, 92%); */
   background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

.box2-p {
  padding-top: 20px;
}

.box3 h2 {
  color: hsl(217, 19%, 35%);
  font-size: 1.20rem;
  font-weight: 700;
}

.box3 p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: hsl(217, 19%, 35%);
}

.box4 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}



.box5 {
  background-color: hsl(219, 29%, 14%);
}

.box5 h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.20rem;
  font-weight: 700;
}

.box5-p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  padding-top: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .box:nth-child(1),
  .box:nth-child(3),
  .box:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
  }
}
